<h1>Keyboard Sort Example With Handles</h1>
<p>
  This example integrates the keyboard sort with CDK drag and drop sorting and
  uses a handle element.
</p>

<div>
  <label
    >Add item:{{ ' ' }}
    <input type="text" />
  </label>
</div>

<ul
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  kbdSortList
  cdkDropListOrientation="vertical"
  kbdSortListOrientation="vertical"
  [cdkDropListData]="items"
  [kbdSortListData]="items">
  <li
    *ngFor="let item of items; index as i; trackBy: trackByFn"
    cdkDrag
    cdkDragLockAxis="y"
    [kbdSortItem]="i">
    <div class="handle" kbdSortHandle>{{ item }}</div>
    <div class="placeholder">🐶</div>
    <span *kbdSortKeyboardSortItemIfActive>😇 active!</span>
    <span *kbdSortKeyboardSortItemIfFocused>😊 focused.</span>
  </li>
</ul>
