<h1>Keyboard Sort Example With Handles</h1>
<p>
  This example integrates the keyboard sort with CDK drag and drop sorting and
  uses a handle element. Use the button to focus on the first list item and then
  use the arrow keys to move it up and down.
</p>

<div>
  <button type="button" (click)="list.focus()" class="start">
    Keyboard sort
  </button>
</div>

<ul
  #list
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  kbdSortList
  cdkDropListOrientation="vertical"
  kbdSortListOrientation="vertical"
  [cdkDropListData]="items"
  [kbdSortListData]="items">
  @for (item of items; track item.name; let i = $index) {
    <li cdkDrag cdkDragLockAxis="y" [kbdSortItem]="i">
      <div class="placeholder">{{ item.placeholder }}</div>
      <div class="handle" kbdSortHandle>{{ item.name }}</div>
      <span *kbdSortKeyboardSortItemIfActive>↕️</span>
      <span *kbdSortKeyboardSortItemIfFocused>⋯️</span>
    </li>
  }
</ul>
