<h1>Keyboard Sort Example</h1>
<p>
  This example integrates the keyboard sort with CDK drag and drop sorting. Use
  the input box as a starting point to tab into the list.
</p>

<div>
  <input type="text" />
</div>

<ul
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  kbdSortList
  cdkDropListOrientation="horizontal"
  kbdSortListOrientation="horizontal"
  [cdkDropListData]="items()"
  [(kbdSortListData)]="items">
  @for (item of items(); track item; let i = $index) {
    <li cdkDrag cdkDragLockAxis="x" [kbdSortItem]="i">
      {{ item }}
      <span *kbdSortKeyboardSortItemIfActive class="indicator active-indicator"
        >🤌</span
      >
      <span *kbdSortKeyboardSortItemIfFocused class="indicator focus-indicator"
        >🫴</span
      >
    </li>
  }
</ul>
