<h1>Keyboard Sort Example</h1>
<p>This example integrates the keyboard sort with CDK drag and drop sorting.</p>

<div>
  <input type="text" autofocus />
</div>

<ul
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  kbdSortList
  cdkDropListOrientation="horizontal"
  kbdSortListOrientation="horizontal"
  [cdkDropListData]="items"
  [kbdSortListData]="items">
  <li
    *ngFor="let item of items; index as i; trackBy: trackByFn"
    cdkDrag
    cdkDragLockAxis="x"
    [kbdSortItem]="i">
    {{ item }}
    <span *kbdSortKeyboardSortItemIfActive class="active-indicator">🆙</span>
    <span *kbdSortKeyboardSortItemIfFocused class="focus-indicator">🔦</span>
  </li>
</ul>
